@model OnilneFlightBooking.Entity.FlightTravelClass

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightTravelClass</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Flight.FlightName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight.FlightName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelClass.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelClass.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatCost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
