@model OnlineFlightBooking.Models.FlightTravelClassModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm("DeleteClass", "FlightTravelClasses"))
{
    @Html.HiddenFor(Model => Model.FlightTravelClassId)
    <div>
        <h4>FlightTravelClass</h4>
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SeatCount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SeatCount)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SeatCost)
                </td>

                <td>
                    @Html.DisplayFor(model => model.SeatCost)
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to DisplayFlight", "DisplayFlight", "Flight")
        </div>
    </div>
}
