@model IEnumerable<OnlineFlightBooking.Models.FlightModel>
@{
    ViewBag.Title = "Displayflight";
}

<h2>AdminPage</h2>
<h3>@TempData["message"]</h3>
@Html.ActionLink("AddFlight", "AddFlight", "Flight")

<table cellspacing="0" border="1">
    <tr>
        <th>Flight Id</th>
        <th>Flight Name</th>
        <th>FromLocation</th>
        <th>ToLocation</th>
        <th>ArrivalTime</th>
        <th>Duration</th>
        <th>TotalSeat</th>
        <th>Modification</th>
    </tr>
    @foreach (OnlineFlightBooking.Models.FlightModel flight in Model)
    {
        <tr style="text-align:center">
            <td>@flight.FlightId</td>
            <td>@flight.FlightName</td>
            <td>@flight.FromLocation</td>
            <td>@flight.ToLocation</td>
            <td>@flight.ArrivalTime</td>
            <td>@flight.Duration.ToShortTimeString()</td>
            <td>@flight.TotalSeat</td>
            <td>@Html.ActionLink("Edit", "EditFlight", new { id = flight.FlightId }) | @Html.ActionLink("Delete", "DeleteFlight", new { id = flight.FlightId })</td>
        </tr>
    }
</table>

